---
- name: Configuración de los servidores web
  hosts: servidores_web
  become: yes
  tasks:
    - name: Actualizar repositorios
      apt:
        update_cache: yes
    
    - name: Instalar MariaDB, nginx y wget
      apt:
        name: 
          - mariadb-server
          - nginx
          - wget
          - php
          - php-fpm
          - php-mysql
        state: present

    - name: Borrar el index.html por defecto de Nginx
      file:
        path: /var/www/html/index.nginx-debian.html
        state: absent

    ## Clonación del repositorio de Fatgram y configuración de los servidores web

    - name: Clonación del repositorio de Fatgram
      git:
        repo: 'https://github.com/Gabriel221011/FATGRAM.git'
        dest: /home/ubuntu/FATGRAM
        version: main

    - name: Copiar del repositorio la carpeta de Wordpress
      copy:
        src: /home/ubuntu/FATGRAM/Servidor Web/Wordpress/*
        dest: /var/www/html/
        owner: www-data
        group: www-data
        mode: '0755'

    ## Copia de la configuración de Nginx para los servidores web

    - name: Copiar la configuración de Nginx para los servidores web
      copy:
        src: /home/ubuntu/FATGRAM/Servidor Web/Instancias Web/sites-enabled/wordpress
        dest: /etc/nginx/sites-available
        owner: root
        group: root
      notify:
          - Reiniciar Nginx

    - name: Link simbólico para habilitar la configuración de Nginx
      file:
        src: /etc/nginx/sites-available/wordpress
        dest: /etc/nginx/sites-enabled/wordpress
        state: link
        
    ## Instalación de phpmyadmin
    - name: Copiar el directorio de phpmyadmin desde el repositorio clonado
      copy:
        src: /home/ubuntu/FATGRAM/Servidor Web/phpmyadmin/
        dest: /var/www/html/phpmyadmin/
        owner: www-data
        group: www-data
        mode: '0755'
    
    - name: Crear el usuario de phpmyadmin en MariaDB con host remoto
      mysql_user:
        name: phpmyadmin
        password: usuario@1
        priv: '*.*:ALL'
        host: '%'
        state: present
    
    - name: Crear la base de datos de phpmyadmin en MariaDB
      mysql_db:
        name: phpmyadmin
        state: present

    ## Borrado del respositorio clonado para liberar espacio

    - name: Borrar el repositorio clonado para liberar espacio
      file:
        path: /home/ubuntu/FATGRAM
        state: absent

  handlers:  ## Handlers para reiniciar el servicio de Nginx cuando se cambie su configuración
    - name: Reiniciar Nginx
      service:
        name: nginx
        state: restarted