.newseblog-notice {
  position: relative;
  padding: 8px;
}
.newseblog-notice-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.newseblog-notice-content .newseblog-notice_image {
  display: flex;
  flex: 0 1 40%;
  max-width: 40%;
  min-height: 100px;
  border-right: 1px solid #FCFCFD;
  justify-content: end;
  align-items: center;
}
.newseblog-notice_text {
  flex: 0 1 70%;
  max-width: 70%;
}
.newseblog-notice-started {
  padding: 38px 38px 38px 20px !important;
  position: relative;
}
.newseblog-notice-content .newseblog-notice_image .newseblog-screenshot {
  width: auto;
  object-fit: contain;
  max-height: 250px;
}
.newseblog-notice-content .text_heading {
  margin-top: 0;
  margin-bottom: 12px;
  line-height: 1.4;
}
.newseblog-notice_text .panel-column-6{
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.panel-column-6 .newseblog-notice-buttons{
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}
.panel-column-6 .newseblog-notice-links {
  display: flex;
  gap: 15px;
  align-items: center;
  flex-wrap: wrap;
}
.newseblog-notice_text .notice p, .notice-title, div.updated p, div.error p, .form-table td .notice p  {padding-right: 25px; font-size: 15px;}
.newseblog-notice-link{ 
  display:inline;
  color: #2271b1;
}
.admin-bar .newseblog-btn-get-started, .admin-bar .newseblog-btn-get-started-customize, .admin-bar .newseblog-btn-demos{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}