---
- name: Preparación del usuario de monitorización y los scripts de monitorización y Ansible
  hosts: monitorizacion
  become: yes
  tasks:
    - name: Crear usuario "monitorizacion"
      user:
        name: monitorizacion
        state: present
        shell: /bin/bash
        
    - name: Configurar grupos para el usuario "monitorizacion"
      ansible.builtin.user:
        name: monitorizacion
        groups:
          - sudo
          - monitorizacion
        append: yes

    - name: Crear carpeta de ssh para el usuario "monitorizacion"
      file:
        path: /home/monitorizacion/.ssh
        state: directory
        owner: monitorizacion
        group: monitorizacion
        mode: '0700'

    - name: Mover la clave al nuevo usuario
      copy:
        src: /home/ubuntu/.ssh/fatgram.pem
        dest: /home/monitorizacion/.ssh/fatgram.pem
        owner: monitorizacion
        group: monitorizacion
        remote_src: yes
        mode: '0400'
        
    - name: Actualizar repositorios (apt update)
      apt:
        update_cache: yes

    - name: Instalar Git, Ansible y Python3
      apt:
        name:
          - git
          - ansible
          - python3
          - python3-pip
        state: present

    - name: Crear carpeta para almacenar scripts de monitorización
      file:
        path: /home/monitorizacion/scripts
        state: directory
        owner: monitorizacion
        group: monitorizacion
        mode: '0755'
        
    - name: Clonar repositorio
      git:
        repo: 'https://github.com/Gabriel221011/FATGRAM'
        dest: /home/monitorizacion/FATGRAM
        version: main

    - name: Copiar scripts desde Github a la carpeta de scripts de monitorización
      copy:
        src: /home/monitorizacion/FATGRAM/Scripts/Monitorizacion/*.py
        dest: /home/monitorizacion/scripts/
        owner: monitorizacion
        group: monitorizacion
        mode: '0755'
      
    - name: Borrar el repositorio clonado para liberar espacio
      file:
        path: /home/monitorizacion/FATGRAM
        state: absent

