---
- name: Configuración inicial de servidor (Nginx, PHP, MariaDB, Git)
  hosts: aws
  become: yes
  tasks:
    - name: Actualizar el índice de repositorios (apt update)
      apt:
        update_cache: yes
        
    - name: Instalar Git y Nginx
      apt:
        name:
          - git
          - nginx
          - php
          - mariadb-server
        state: present
    - name: Configurar git para el usuario actual # Configuración de git del administrador del Github
      git_config:
        name: user.email
        value: "pablosainzdelamaza@gmail.com"
        scope: global
    - name: Clonar el respositorio de Fatgram
      git:
        repo: 'https://github.com/Gabriel221011/FATGRAM.git'
        dest: /home/ubuntu/FATGRAM
        version: main
    - name: Copiar el archivo de configuración de Nginx para Fatgram
      copy:
        src: /home/ubuntu/FATGRAM/Servidor\ Web/Configuracion \ de\ Nginx/
        dest: /etc/nginx/
        owner: root
        group: root
        mode: '0644'
      notify:
          - Reiniciar Nginx
    
  handlers:
    - name: Reiniciar Nginx
      service:
        name: nginx
        state: restarted