---
- name: Configuración de los servidores web
  hosts: servidores_web
  become: yes
  tasks:
    - name: Actualizar repositorios
      apt:
        update_cache: yes
    - name: Instalar MariaDB
      apt:
        name: 
          - mariadb-server
          - nginx
        state: present
    - name: Clonación del repositorio de Fatgram
      git:
        repo: 'https://github.com/Gabriel221011/FATGRAM.git'
        dest: /home/ubuntu/FATGRAM
        version: main
    - name: 